<div class="container">
  <div class="row">
    <h1>ゲーム一覧</h1>
  </div>
  <div class="row">
    <%= link_to "ゲーム追加", new_admin_game_path, class: "btn btn-success" %>
  </div>
  <div>
    <% @games.each do |games| %>
      <ul>
        <li><%= link_to  games.title, admin_game_path(games.id) %></li>
      </ul>
    <% end %>
  </div>
</div>