<div class="container">
  <div class="row">
    <h1><%= @game.title %></h1>
  </div>
  <div class="row">
    <div class="col-md-10">
      <p><%= @game.content %></p>
    </div>
    <div class="col-md-4">
      <%= link_to "編集する", edit_admin_game_path(@game.id) %>
      <%= link_to "削除する", admin_game_path(@game.id), method: :delete, data: { confirm: '削除しますか？'} %>
    </div>
  </div>
</div>