<div class="container">
  <div class="row">
    <h1>ユーザー一覧</h1>
  </div>
  <div class="row">
    <table class="table">
      <% @users.each do |users| %>
      <tr>
        <% if users.email != "guest@example.com" %>
          <td><%= link_to users.name, admin_user_path(users.id) %></td>
          <td><%= users.email %></td>
          <td>
            <% if users.is_active == true %>
              <p>有効</p>
            <% else %>
              <p>無効</p>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
